@mixin flex($dir: row, $just:space-between, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content:$just ;
    flex-wrap: $wrap;
}

@mixin center {
    text-align: center;
    margin: auto;
}